    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }


    /* Estilos para el navbar */
    .navbar {
        padding: 20px 0;
        background-color: #556B2F;
    }

    .navbar-brand img {
        height: 40px;
    }

    .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
    }


    /* Estilos para el carrusel */
    .carousel-item img {
        height: 500px;
        object-fit: cover;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 5%;
    }
    /* container */
    .container {
        width: 80%;
        margin: 0 auto;
    }

    /* Estilos para la sección de tienda */
    .shop {
        padding: 50px 0;
    }

    .card {
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-text {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    

    footer {
        background-color: #3a4921; /* Color verde musgo */
        color: #ffffff; /* Color del texto en el footer */
    }

