{% extends 'app/base.html' %}
{% block contenido %}
{% load humanize %}
<div class="container mt-4"> <!-- Added container and margin-top classes -->
  <div class="card">
    <div class="card-body">
      <h1 class="text-center">Listar productos</h1>
    </div>
    <table class="table table-stripped table-hover table-responsive-sm">
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Proveedor</th>
        <th>Modificar</th>
        <th>Borrar</th>
      </tr>

      {% for p in productos %}
      <tr>
        <td>{{ p.nombre | title }}</td>
        <td>{{ p.precio | intcomma }}</td>
        <td>{{ p.stock | intcomma }}</td>
        <td>{{ p.proveedor | title }}</td>
        <td><a href="{% url 'modificar_producto' p.id %}" class= "btn btn-info btn-sm">Editar</a></td>
        <td><a href="{% url 'eliminar_producto' p.id %}" class= "btn btn-danger btn-sm">Eliminar</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
