{% extends 'app/base.html' %}  {% load static %} {% block contenido %}
<!-- Contenido principal: Registro a la pagina-->
<section>
    <div class="container mt-5">
        <div id="registrationResult"></div> <!-- Contenedor para la tarjeta de resultado -->
        <div class="card" style="display: none;" id="registrationSuccessCard">
            <div class="card-body">
                <h5 class="card-title">Registrado con éxito</h5>
                <p class="card-text">¡Gracias por registrarte!</p>
                <img src="{% static 'app/img/hongos/happyMushroom.png' %}" class="img-fluid" alt="Imagen de éxito"
                    style="height: 55px;">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Formulario de Registro</h1>
                <form id="registrationForm">
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electrónico:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarse </button>
</section>
{% endblock %}