{% extends 'app/base.html' %} {% load static %} {%block css%}
<link rel="stylesheet" href="{% static 'app/css/shop.css'%}">
{%endblock%}{% block contenido %} {% load humanize %}
<header>
  <div class="container text-center">
    <h1>Descubre nuestros productos</h1>
    <p>Orgánicos, frescos y deliciosos</p>
  </div>
</header>
<!-- Contenido principal: Productos -->
<section id="shop" class="shop">
  <div class="container">
    <div class="row mt-4">
      {% for p in productos %}
      <div class="col-md-4">
        <div class="card">
          <img
            src="{{ p.imagen.url }}"
            class="card-img-top"
            alt="{{ p.nombre }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ p.nombre }}</h5>
            <p class="card-text">{{ p.descripcion }}</p>
            <p class="card-text">Precio: ${{ p.precio }}</p>
            <button class="btn btn-primary btn-sm"
            onclick="agregarAlCarrito('{{ p.nombre }}', '{{ p.precio }}', '{{ p.imagen.url }}')">Agregar
            al
            carrito</button>
          </div>
        </div>
      </div> 
      {% endfor %}
    </div> 
  </div> 
</section>


{% endblock %}
