{% extends 'app/base.html' %} {% load static %} {% block contenido %}
<header>
  <div class="container">
    <h1>Bienvenido a nuestra tienda de Hongos Comestibles</h1>
    <p>Descubre nuestra deliciosa selección de hongos frescos y orgánicos</p>
  </div>
</header>
<!-- Contenido principal -->
<div class="container">
  <section id="about">
    <div class="row">
      <div class="col-md-6">
        <img
          src="{% static 'app/img2/somosIMG.jpg' %}"
          alt="Imagen"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6">
        <p>
          ¡Bienvenidos a nuestra tienda especializada en hongos comestibles de
          alta calidad en Santiago de Chile! Ofrecemos una amplia variedad de
          hongos frescos, orgánicos y cultivados con sumo cuidado para
          garantizar la mejor calidad y sabor. Estamos comprometidos con la
          frescura y la excelencia en cada producto que ofrecemos. Ubicados en
          el corazón de Santiago, te invitamos a descubrir el delicioso mundo de
          los hongos con nosotros.
        </p>
        <!-- Campo de entrada para la ciudad -->
      </div>
    </div>
  </section>
</div>
<section>
  <p class="titulo_mapa">nuestra ubicación</p>
  <div id="map">
    <p></p>
  </div>
</section>
{% endblock %}
